{% extends "base.html" %}

{% block title %}
- Edit -
{% endblock %}

{% block contents %}
<div class="add">
  <h1>食材編集ページ</h1>
  <form action="{% url 'edit' pk=form.instance.pk %}" method="post">
    {% csrf_token %}
   <h2>*数量を0にすると削除されます。</h2>
  <div>
      <label for="{{ form.name.id_for_label }}">食材名:</label>
      {{ form.name }}
      {% if form.name.errors %}
        {% for error in form.name.errors %}
          <div class="field-error">{{ error }}</div>
        {% endfor %}
      {% endif %}
  </div>
  <div>
      <label for="{{ form.quantity.id_for_label }}">数量:</label>
      {{ form.quantity }}
      {% if form.quantity.errors %}
        {% for error in form.quantity.errors %}
          <div class="field-error">{{ error }}</div>
        {% endfor %}
      {% endif %}
  </div>

    <div>
      <label for="{{ form.expiration_date.id_for_label }}">賞味期限:</label>
      {{ form.expiration_date }}
      {% if form.expiration_date.errors %}
        {% for error in form.expiration_date.errors %}
          <div class="field-error">{{ error }}</div>
        {% endfor %}
      {% endif %}
    </div>

    <button type="submit">更新</button>
  </form>
  <a class="return" class="add" href="{% url 'index' %}">一覧へ戻る</a>
</div>
{% endblock %}